<tr>
    <td><%= item_detail.size %></td>
    <td><%= item_detail.price %></td>
    <td>
      <%= form_for order_item do |f| %>
        <%= f.hidden_field :item_detail_id, value: item_detail.id %>
        <%= f.submit "Add to Cart" %>
      <% end %>
    </td>
</tr>
