<!DOCTYPE html>
<html>
  <head>
	<title>Farbucks</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag	   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to("Farbucks", page_path("home"), :class => "navbar-brand") %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
		<%= link_to("Home", page_path("home"), :class => "nav-link") %>
      </li>
      <li class="nav-item">
		<%= link_to("Menu", menu_categories_path, :class => "nav-link") %>
      </li>
    </ul>
  </div>
</nav>



	<%= yield %>
  </body>
</html>
